#banner
 .banner_content
  %h1 File Cabinet
  %p Your life's work. Organized, always.
  %button= link_to 'Enter', new_user_registration_path
#callouts
 .callout_inner
  .wrapper
   .callout
    %h2 Organize
    %p Tilde gochujang celiac, chicharrones ramps gluten-free man bun bushwick sustainable locavore art party brunch tofu. Readymade leggings freegan lomo, echo park hammock bicycle rights church-key roof party hashtag kinfolk shabby chic +1. Pug lo-fi cardigan chillwave, trust fund crucifix migas kombucha biodiesel put a bird on it pickled williamsburg kinfolk banjo. Deep v 3 wolf moon chartreuse, authentic kombucha bespoke occupy vinyl vice sartorial. Literally synth try-hard sriracha before they sold out. Four dollar toast mumblecore umami, intelligentsia humblebrag kinfolk roof party wayfarers chartreuse brunch. Bespoke selvage messenger bag, actually street art hoodie ennui.
#bottom_cta
 .wrapper
  %h2 Go Ahead
  %br
  %button= link_to 'Join now', new_user_registration_path